*{  margin: 0;
    padding: 0;
    box-sizing: border-box;   
    
}
@font-face{/* bold font */
    font-family: 'Gilroy';
    src:url(/Gilroy-ExtraBold.ttf);
    font-weight: bold;
    font-style: bold;
}
/* @font-face {text font */
    /* font-family: 'Gilroy-l';
    src: url(/Gilroy-Light.ttf);
    font-weight: normal;
    font-style: normal;
} */

body{
    background: linear-gradient(217deg,#36213c,#0d0b0e 70.71%),
    linear-gradient(127deg, #0d0b0e, #36213c 70.71%),
    linear-gradient(336deg,#36213c, #0d0b0e 70.71% 70.71%);
    text-align: center;
    
}
#h-miplata{ /* id del header y estylos para el mismo */
    display: grid;
    grid-template-rows: auto;
    background-color: #7350a2;
    width: 100vw;
    height: 14vh;    
}
#logo-miplata{    
    width: 30vh;
    margin: 1rem 0rem 0rem 1rem;
    left: 0;   
}
header{
    font-family: 'Gilroy';
          
}
h3{
    font-family: 'Gilroy-l';
    color:white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 23px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 16px;
    justify-content: space-around;
    
}
.btm-consignacion{
    display: grid;
    grid-template-rows: auto auto auto;
    margin-top:100px;
}

.btm-consignacion label{
    font-family: 'Gilroy-l';
    color:white;  
    
}
#display{
    width: 450px;
    height: 30px;
    background-color: white;
}
.volver{
    font-family: 'Gilroy-l';
    background-color:rgb(115, 80, 162, 0.2);
    color: white;
    width: 90px;
    height: 35px;
    margin-right: 16.4375rem;
}
.confirmar{
    font-family: 'Gilroy-l';
    background-color: #7350a2;
    color: white;
    width: 90px;
    height: 35px;
}

.teclas{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 95%;
    margin: 0px;
    margin-bottom: 10%;
    padding: 20px;
    justify-content: end; 
   
}
.cajas{
    width: 5rem;
    height: 5rem;
    border: 2px solid rgb(115, 80, 162, 0.3);
    background-color:rgb(54, 33, 60, 0.3);
    margin: 15px;
    text-align: center;
    color: white; 
    line-height: 70px;
}

.c11{
    display: grid;
    justify-content: space-evenly;
    padding: 20.6px
}
/*los botones de volver y numero son con blanco y opacidad 0.1 borde color 




