*{/* estandar */
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
@font-face{/* bold font */
    font-family: 'Gilroy';
    src:url(/Gilroy-ExtraBold.ttf);
    font-weight: bold;
    font-style: bold;
}
@font-face {/* text font */
    font-family: 'Gilroy-l';
    src: url(/Gilroy-Light.ttf);
    font-weight: normal;
    font-style: normal;
}
:root{/* variables_codigos de color */
    --clr-blanco: #fff;/* texto */
    --clr-opcional:#7350a2;/* color botones */
    --clr-ngro: #000;
    --clr-logo: #b7c1c7;
}
h1{
    font-family: 'Gilroy';
}
#h-miplata{ /* id del header y estylos para el mismo */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #7350a2;
    width: 100vw;
    height: 18vh;
}

#registro{
    font-size: 1rem;
    margin-right: 1rem;
}

#logo-miplata{
    
    width: 40vh;
    margin: 1rem 0rem 0rem 1rem;
    left: 0;   
}

.background{
    position: relative;
    height: 100vh;
    background: linear-gradient(217deg,#36213c,#0d0b0e 70.71%),
    linear-gradient(127deg, #0d0b0e, #36213c 70.71%),
    linear-gradient(336deg,#36213c, #0d0b0e 70.71% 70.71%);
}


.container-retiro{
    position: absolute;
    left: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    text-align: left;
    height: 50%;
    width: 50%;
    
}
.bienvenido h2{
    color: var(--clr-opcional);
    font-weight: bold;
    font-size: 32px;
}

.bienvenido{
    padding: 1.25rem;
    margin: 15px;

}


.bienvenido p{
    color: var(--clr-blanco);
}

.btns{
    display: grid;
    grid-template-columns: auto auto;
    width: 95%;
    margin: 0px;
    margin-bottom: 10%;
    padding: 20px;
   

}



.btn-monto{
    width: 22rem;
    height: 7rem;
    border: 2px solid rgb(115, 80, 162, 0.3);
    background-color:rgb(54, 33, 60, 0.3);
    margin: 15px;
    text-align: center;
    color: white;
    line-height: 70px;
    font-size: 2rem;
    cursor: pointer;

}

.btn-monto:hover{
    color: var(--clr-opcional);
    background-color: var(--clr-blanco);
    box-shadow: 0 1px 3px 0 var(--clr-ngro), 0 1px 3px 0 var(--clr-ngro);
    width: 23rem;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    
  
}


.modal-otro{
    margin: auto;
    /* position: absolute; */
  /*   left: 30%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
   /*  text-align: left; */
    width: 50%;
    max-width: 930px;
    max-height: 90%;
    background: linear-gradient(217deg,#36213c,#0d0b0e 70.71%),
    linear-gradient(127deg, #0d0b0e, #36213c 70.71%),
    linear-gradient(336deg,#36213c, #0d0b0e 70.71% 70.71%);
    border: 1px solid var(--clr-opcional);
    border-radius: 8px;

}


.modal-disabled{
    display: none;
    pointer-events: none;

}

.sec-input{
    padding: 1.25rem;
    margin: 15px;
    width: 95%;
}


.mensaje{
    margin-top: 10px;
    color: var(--clr-blanco);
    font-weight: bold;
    
}

.disabled{
    display: none;
    
}

#otro-v{
    width: 100%;
    height: 30px;
}  

.btns-input{
    display: flex;
    justify-content: space-between;
    
}

#btn-con{
    cursor: pointer;
    font-family: 'Gilroy';
    font-size: 1.25rem;
    color: var(--clr-blanco);
    background-color: #7350a2;
    border-radius: 4px;
    border:1px solid var(--clr-ngro);
    transition-duration: 0.4s;
    padding: 5px;
    margin-top: .50rem;
}

#btn-vol{
    cursor: pointer;
    font-family: 'Gilroy';
    font-size: 1.25rem;
    color: var(--clr-blanco);
    background-color: rgba(255, 255, 255, 0.361);
    border-radius: 4px;
    border:1px solid #7350a2;
    transition-duration: 0.4s;
    padding: 5px;
    margin-top: .50rem;
}

.btn-con{
    text-align: right;
}


#btn-con:hover{
    color: var(--clr-opcional);
    background-color: var(--clr-blanco);
    box-shadow: 0 1px 3px 0 var(--clr-ngro), 0 1px 3px 0 var(--clr-ngro);
}


#btn-vol:hover{
    color: var(--clr-opcional);
    background-color: var(--clr-blanco);
    box-shadow: 0 1px 3px 0 var(--clr-ngro), 0 1px 3px 0 var(--clr-ngro);
}

.btns-modal{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 95%;
    margin: 0px;
    margin-bottom: 10%;
    padding: 20px;
}

.btn-modal{
    width: 5rem;
    height: 5rem;
    border: 2px solid rgb(115, 80, 162, 0.3);
    background-color:rgb(54, 33, 60, 0.3);
    margin: 15px;
    text-align: center;
    color: white;
    line-height: 70px;
    font-size: 2rem;
    cursor: pointer;
}

#borrar{
    display: grid;
    justify-content: space-evenly;
    padding: 20.6px
}

#borrar img{
    width: 100%;
}


.btn-modal:hover{
    color: var(--clr-opcional);
    background-color: var(--clr-blanco);
    box-shadow: 0 1px 3px 0 var(--clr-ngro), 0 1px 3px 0 var(--clr-ngro);
    width: 6rem;
}


.info-developers{
    font-family: 'Gilroy-l';
    position: absolute;
    bottom: 0;
    left: 25%;
    padding: 2rem;
    color: #b7c1c7;
    text-align: center;
}

.modal-trfinal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    
}


.tr-container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    border-radius: 10px;
    background-color: white;
}

#yaper{
    position: relative;
    z-index: 1;
}

.v-menu, .v-menuerror{
    cursor: pointer;
    font-family: 'Gilroy';
    font-size: 1.25rem;
    color: var(--clr-blanco);
    background-color: #7350a2;
    border-radius: 4px;
    border:1px solid var(--clr-ngro);
    transition-duration: 0.4s;
    padding: 5px;
    margin-top: .50rem;
    position: absolute;
    z-index: 1;
    left: 47%;
    top: 61%;
}

.v-menu:hover{
    color: var(--clr-opcional);
    background-color: var(--clr-blanco);
    box-shadow: 0 1px 3px 0 var(--clr-ngro), 0 1px 3px 0 var(--clr-ngro);
}
.v-menuerror:hover{
    color: var(--clr-opcional);
    background-color: var(--clr-blanco);
    box-shadow: 0 1px 3px 0 var(--clr-ngro), 0 1px 3px 0 var(--clr-ngro);
}


.modal-disabledtr{
    display: none;
    pointer-events: none;
}

.modal-error{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    
}

.er-container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    border-radius: 10px;
    background-color: white;
}

.modal-errordisabled{
    display: none;
    pointer-events: none;
}





@media screen {
    
}