*{/* estandar */
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
@font-face{/* bold font */
    font-family: 'Gilroy';
    src:url(/Gilroy-ExtraBold.ttf);
    font-weight: bold;
    font-style: bold;
}
@font-face {/* text font */
    font-family: 'Gilroy-l';
    src: url(/Gilroy-Light.ttf);
    font-weight: normal;
    font-style: normal;
}
:root{/* variables_codigos de color */
    --clr-blanco: #fff;/* texto */
    --clr-opcional:#7350a2;/* color botones */
    --clr-ngro: #000;
    --clr-logo: #b7c1c7;
}
h1{
    font-family: 'Gilroy';
}
#h-miplata{ /* id del header y estylos para el mismo */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #7350a2;
    width: 100vw;
    height: 18vh;
}
#logo-miplata{/* logo ubicado en el header */
    
    width: 40vh;
    margin: 1rem 0rem 0rem 1rem;
    left: 0;   
}
.menu-inicio-sesion{
    position: relative;
    height: 82vh;
    background: linear-gradient(217deg,#36213c,#0d0b0e 70.71%),
    linear-gradient(127deg, #0d0b0e, #36213c 70.71%),
    linear-gradient(336deg,#36213c, #0d0b0e 70.71% 70.71%);
}
.container-inicio-sesion{
    position: absolute;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 50%;
    width: 50%;
    padding-top: 9rem;
    
}
.container-menu-principar-usuario{
    /* position: absolute; */
    /* left: 12%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    text-align: left;
    height: 100%;
    width: 100%;
    padding-top: 3rem;
}
.container-saldo{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.formulario-login{
    padding: 0;
    margin: 0;
}
.lbl{/* estilos de los label */
    padding-top: 1.6rem;
    padding-left: .5rem;
    font-family: 'Gilroy-l';
    font-size: 1.25rem;
    color: var(--clr-blanco);
}
.olvd-contraseña{
    margin-top: .7rem;
    text-align: right;
    color: var(--clr-blanco);

}
#registro{
    font-size: 1rem;
    margin-right: 2rem;
}
.btm-ingresar{
    text-align: right;
    margin: 1rem 0rem;
}
#btm-ingresar{
    font-family: 'Gilroy';
    font-size: 1.25rem;
    color: var(--clr-blanco);
    background-color: #7350a2;
    border-radius: 4px;
    border:1px solid var(--clr-ngro);
    transition-duration: 0.4s;
    padding: 5px 15px 5px 15px;
    margin-top: .50rem;
}
#btm-ingresar:hover{
    color: var(--clr-opcional);
    background-color: var(--clr-blanco);
    box-shadow: 0 1px 3px 0 var(--clr-ngro), 0 1px 3px 0 var(--clr-ngro);
}
#btm-volverM{
    font-family: 'Gilroy';
    font-size: 1.25rem;
    color: var(--clr-blanco);
    background-color: #7350a2;
    border-radius: 4px;
    border:1px solid var(--clr-ngro);
    transition-duration: 0.4s;
    padding: 5px 15px 5px 15px;
    margin-top: .50rem;
}
#btm-volverM:hover{
    color: var(--clr-opcional);
    background-color: var(--clr-blanco);
    box-shadow: 0 1px 3px 0 var(--clr-ngro), 0 1px 3px 0 var(--clr-ngro); 
}
#inpt-usuario{
    padding: .5rem;
    border:1px solid var(--clr-ngro);
}
#inpt-contraseña{
    padding: .5rem;
    border:1px solid var(--clr-ngro);
}
.info-developers{
    font-family: 'Gilroy-l';
    position: absolute;
    bottom: 0;
    left: 25%;
    padding: 2rem;
    color: #b7c1c7;
    text-align: center;
      
}
#titulo-saldo{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}
#Saldo-money{
    font-size: 4rem;
    margin-top: .5rem;
}
#olvido-pws{
    color: var(--clr-blanco);
}
.fila1{
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin-top: .3rem;
    width: 32%;
    height: 80%;
}
.b{
    padding-right: 3rem;
}
.bienvenida{
    width: 33%;
    padding-left: 3rem;
}
.msjBienvenida{
    font-family: 'Gilroy-l';
    color: #7350a2;
}
#nombre_usuario{
    font-family: 'Gilroy';
    font-size: 2.2rem;
    color: var(--clr-blanco);
}
.btm-menu{
    background: #2f2236;
    color: var(--clr-blanco);
    width: 380px;
    height: 100px;
    margin: .5rem;
    border-radius: 2px;
    border:1px solid var(--clr-opcional);
    font-family: 'Gilroy';
    font-size: 2rem;
}
.btm-menu:hover{    
    box-shadow: 0 1px 5px 0 var(--clr-ngro), 0 1px 5px 0 var(--clr-ngro);

}
#btm-salir{
    background: var(--clr-opcional);
    color: var(--clr-blanco);
    border:1px solid var(--clr-opcional);
    border-radius: 2px;
    font-family: 'Gilroy';
    font-size: 2.2rem;
    width: 380px;
    height: 100px;
    margin: .5rem;
}
#btm-salir:hover{
    box-shadow: 0 1px 5px 0 var(--clr-ngro), 0 1px 5px 0 var(--clr-ngro);
}


